*{ 
    padding: 0;
    margin:0;
}

video {
    padding: 0;
    margin:0;
    display: flex;
    object-fit: fill;
    max-width: 100%;
    max-height: 100%;
    border-radius: 0%;
    border-width: 0%;
    opacity: 0.8;
      }


      h1 {
        color: blue;
        font-size: 50px;
        text-align: center;
        font-family: Tahoma, sans-serif;
        background-color: beige;
        margin-top: 0px;
        margin: 0px
        }
    .menu-bar {
        background: beige;
        text-align: right
    }
    .menu-bar ul {
        display: inline-flex;
        list-style: none
    }
    .menu-bar ul li {
        width: 120px;
        margin: 15px;
        padding: 15px
    }
    .active, .menu-bar ul li:hover
    {
        border-radius: 3px
    }
    .sub-menu-1
    {
        display:none;
    }
    .menu-bar ul li:hover .sub-menu-1
    {
        display: block;
        position: absolute;
        background: beige;
        margin-top: 15px;
        margin-left: -15px
    }
    .menu-bar ul li:hover .sub-menu-1 ul
    {
        display: block;
        margin: 10px
    }
    .menu-bar ul li:hover .sub-menu-1 ul li
    {
        width: 150px;
        padding: 10px;
        border-bottom: 1px dotted #fff;
        background: transparent;
        border-radius: 0;
        text-align: left
    }
    .menu-bar ul li:hover .sub-menu-1 ul li:last-child
    {
        border-bottom: none
    }

    ul {
            color: red;
            font-size: 25px;
            font-family: Tahoma, sans-serif;
            background-color: beige;
            text-align: right;
            margin: 0
        }
        
.sidebar {
    position: absolute;
    width: 25%;
    height: 100vh;
    top: -10%;
    margin: 0%;
    font-size: 0.65em;
  }
  .nav {
    position: relative;
    margin: 0 290%;
    text-align: left;
    top: 50%;
    transform: translateY(-10%);
    font-weight: bold;
  }
  .home-image
  {
      justify-content: left;
  }